In [67]:
#importing all the necessary libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
import warnings
import random
from sklearn.model_selection import train_test_split,StratifiedKFold,cross_val_score,ShuffleSplit,LeavePOut  
from sklearn.neighbors import KNeighborsClassifier
warnings.filterwarnings('ignore')

In [68]:
#importing iris dataset from sklearn libarary.
from sklearn import datasets
df = datasets.load_iris()
df

#independent variable data = 'data'
#independent variable names = 'input features'
#dependent variable data = 'target'

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [69]:
#converting all the data to dataframe and adding target column to dataset.

dataset = pd.DataFrame(df['data'], columns=df['feature_names'])
dataset['target'] = df.target
dataset.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [70]:
df.target_names

#therefore 0 = setosa; 1 = versicolor, 2 = virginica in target column.

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [71]:
#we can see that the o/p variable is categorical and hence we  will see the count/frequency of each variable.
y_counts=dataset["target"].value_counts()
print(y_counts)
x_values= list(df.target_names)
print('\n')
print(x_values)

# count same so balanced dataset.

0    50
1    50
2    50
Name: target, dtype: int64


['setosa', 'versicolor', 'virginica']

In [72]:
#checking for the null values.
dataset.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [73]:
#gives (rows,columns).
dataset.shape

(150, 5)

In [74]:
#making 2 dataframes for independent and dependent variables.
X=dataset.drop(['target'], axis=1)                          #axis=1 -> column
Y=dataset['target']
print(X.shape)
print(Y.shape)

(150, 4)
(150,)

#a) Monte Carlo Cross Validation

#####In this CV technique, the datast is arbitrarily divided into datasets to train and validate models in this method. We have chosen how many portions of the dataset will serve as a training dataset and which part will serve as a validation dataset. The leftover dataset is not used in the training and validation datasets if the combined percentage of the training and the validation dataset size does not equal 100.
#####Not suitable for Imbalanced dataset.

In [75]:
cv_score=[]

model = KNeighborsClassifier()
shuffle_split = ShuffleSplit(test_size = 0.3, train_size = 0.5, n_splits = 10)  
score = cross_val_score(model, X, Y, cv = shuffle_split) 
print("Monte Carlo Cross Validation Scores are: ",score)
print('\n')
x= np.mean(score)*100
cv_score.append(x)
print("Mean Cross Validation score is: ",x)

Monte Carlo Cross Validation Scores are:  [0.93333333 1.         0.97777778 0.93333333 0.97777778 0.97777778
 0.93333333 0.95555556 0.97777778 0.97777778]


Mean Cross Validation score is:  96.44444444444444

#b) Leave P out Cross Validation

#####A thorough cross-validation method called LeavePOut cross-validation uses the (n-p) samples for training the model and the leftover p-samples as the validation dataset.This procedure is repeatedly executed until the entire dataset has been split into an (n-p) training sample dataset and a validation dataset of p-samples.
######High computing time is required by this method. The method mentioned above will take more time to compute because it will keep executing itself until all samples have been used as a validation dataset.

#####This approach is not appropriate for unbalanced datasets. Similar to K-Fold Cross-validation, our model may not be generalized for the validation dataset if the training dataset contains samples from only one class.

In [76]:
model = KNeighborsClassifier()
leave_pout = LeavePOut(p = 2)  
leave_pout.get_n_splits(X)  
score = cross_val_score(model, X, Y, cv = leave_pout) 
print("Leave P Out Cross Validation Scores are: ",score)
print('\n')
x= np.mean(score)*100
cv_score.append(x)
print("Leave P Out Cross Validation score is: ",x)

Leave P Out Cross Validation Scores are:  [1. 1. 1. ... 1. 1. 1.]


Leave P Out Cross Validation score is:  96.65324384787472

#c) Stratified 3-fold Cross-Validation

#####If our dataset is imbalanced (like one category has count of 900 values and second category has 100 values) then there are high chances correct proportion of data is not picked up, then we use this cross validation technique because it ensures that wrt to our dependent features it will take both cateogry proportions in app equal amount.
#####But our data here is balanced because we have seen the count of all three categories which is equal to 50.

In [77]:
skfold = StratifiedKFold(n_splits=3)
model = KNeighborsClassifier()
score = cross_val_score(model,X,Y,cv=skfold)
print(score)
print("Stratified 3-fold Cross Validation Scores are: ",score)
print('\n')
x= np.mean(score)*100
cv_score.append(x)
print("Stratified 3-fold Cross Validation score is: ",x)

[0.98 0.98 0.98]
Stratified 3-fold Cross Validation Scores are:  [0.98 0.98 0.98]


Stratified 3-fold Cross Validation score is:  98.0

#d) Hold Out Cross Validation.

#####The holdout technique is an exhaustive cross-validation method, that randomly splits the dataset into train and test data depending on data analysis.
#####70:30 split of Data into training and validation data respectively. In the case of holdout cross-validation, the dataset is randomly split into training and validation data. This method is not appropriate for an unbalanced dataset.

In [83]:
#splitting the dataset into training dataset and test dataset
#0.3 i.e. 30% of the data is test data. and 0.8 i.e. 80% of the data = training data

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=10)

#Fit the model Logistic Regression over the training dataset.
model = KNeighborsClassifier()
model.fit(X_train,Y_train)
result = model.score(X_test,Y_test)               #it predicts value of X_test and compare with Y_test.
print("Accuracy score for the testing dataset is: ", result) 
cv_score.append(result*100)
print(result*100)

(45, 4)
(45,)
Accuracy score for the testing dataset is:  0.9777777777777777
97.77777777777777

#CV score Table:

In [79]:
#cv_score is the list that stores values of all cv scores.
cv_names = ['Monte Carlo Cross-Validation','Leave P Out Cross-Validation','Stratified 3-fold Cross-Validation','Hold Out Cross Validation.']

# get the list of tuples from two lists and merge them by using zip().
merged = list(zip(cv_names, cv_score))
df = pd.DataFrame(merged,columns=['Cross Validation Names', 'Cv Score'])
df

               Cross Validation Names   Cv Score
0        Monte Carlo Cross-Validation  96.444444
1        Leave P Out Cross-Validation  96.653244
2  Stratified 3-fold Cross-Validation  98.000000
3          Hold Out Cross Validation.  97.777778

##Conclusion: 
###From my perspective the best suited Cross Validation Technique for this dataset is MonteCarlo CV Technique.
###Our dataset is balanced as counts of all the output's [0,1,2] is equal to 50. We cant use Stratified 3-fold Cross-Validation as it is best suited for imbalanced dataset and from rest three the cv_score for Hold out Cross Validation is higher but still monte carlo is better because Under cross validation, each point gets tested exactly once, which seems fair. However, cross-validation only explores a few of the possible ways that your data could have been partitioned.